In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
training_set = pd.read_csv(r"C:\Users\jmamt\Downloads\train.csv")
test_set = pd.read_csv(r"C:\Users\jmamt\Downloads\eval.csv")

training_results = training_set.pop("survived")
test_results = test_set.pop("survived")
print(training_set)

        sex   age  n_siblings_spouses  parch     fare   class     deck  \
0      male  22.0                   1      0   7.2500   Third  unknown
1    female  38.0                   1      0  71.2833   First        C
2    female  26.0                   0      0   7.9250   Third  unknown
3    female  35.0                   1      0  53.1000   First        C
4      male  28.0                   0      0   8.4583   Third  unknown
..      ...   ...                 ...    ...      ...     ...      ...
622    male  28.0                   0      0  10.5000  Second  unknown
623    male  25.0                   0      0   7.0500   Third  unknown
624  female  19.0                   0      0  30.0000   First        B
625  female  28.0                   1      2  23.4500   Third  unknown
626    male  32.0                   0      0   7.7500   Third  unknown

     embark_town alone
0    Southampton     n
1      Cherbourg     n
2    Southampton     y
3    Southampton     n
4     Queenstown     y
..           ...   ...
622  Southampton     y
623  Southampton     y
624  Southampton     y
625  Southampton     n
626   Queenstown     y

[627 rows x 9 columns]

In [3]:
#Make all the parameters numerical

numerical_columns = ["age", "n_siblings_spouses", "parch", "fare"]
categorical_columns = ["sex", "class", "deck", "embark_town", "alone"]

trueFeatures = []

for categFeature in categorical_columns:
    uniqueVals = training_set[categFeature].unique()
    trueFeatures.append(tf.feature_column.categorical_column_with_vocabulary_list(categFeature, uniqueVals))
    
for numFeatures in numerical_columns:
    trueFeatures.append(tf.feature_column.numeric_column(numFeatures, dtype=tf.float32))
    
print(trueFeatures)

[VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='class', vocabulary_list=('Third', 'First', 'Second'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='deck', vocabulary_list=('unknown', 'C', 'G', 'A', 'B', 'D', 'F', 'E'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Southampton', 'Cherbourg', 'Queenstown', 'unknown'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='alone', vocabulary_list=('n', 'y'), dtype=tf.string, default_value=-1, num_oov_buckets=0), NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='n_siblings_spouses', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [4]:
#Create epochs and send in batchs of data to train to

def makeInputFunc(rawData, ylabels, epochs=20, batchSize=50):
    def inputFunc():
        data = tf.data.Dataset.from_tensor_slices(dict(train))

SyntaxError: invalid syntax (<ipython-input-4-37d88e6e4857>, line 3)

In [6]:
print(dict(training_set))
print(trueFeatures)

{'sex': 0        male
1      female
2      female
3      female
4        male
        ...
622      male
623      male
624    female
625    female
626      male
Name: sex, Length: 627, dtype: object, 'age': 0      22.0
1      38.0
2      26.0
3      35.0
4      28.0
       ...
622    28.0
623    25.0
624    19.0
625    28.0
626    32.0
Name: age, Length: 627, dtype: float64, 'n_siblings_spouses': 0      1
1      1
2      0
3      1
4      0
      ..
622    0
623    0
624    0
625    1
626    0
Name: n_siblings_spouses, Length: 627, dtype: int64, 'parch': 0      0
1      0
2      0
3      0
4      0
      ..
622    0
623    0
624    0
625    2
626    0
Name: parch, Length: 627, dtype: int64, 'fare': 0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.4583
        ...
622    10.5000
623     7.0500
624    30.0000
625    23.4500
626     7.7500
Name: fare, Length: 627, dtype: float64, 'class': 0       Third
1       First
2       Third
3       First
4       Third
        ...
622    Second
623     Third
624     First
625     Third
626     Third
Name: class, Length: 627, dtype: object, 'deck': 0      unknown
1            C
2      unknown
3            C
4      unknown
        ...
622    unknown
623    unknown
624          B
625    unknown
626    unknown
Name: deck, Length: 627, dtype: object, 'embark_town': 0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4       Queenstown
          ...
622    Southampton
623    Southampton
624    Southampton
625    Southampton
626     Queenstown
Name: embark_town, Length: 627, dtype: object, 'alone': 0      n
1      n
2      y
3      n
4      y
      ..
622    y
623    y
624    y
625    n
626    y
Name: alone, Length: 627, dtype: object}
[VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='class', vocabulary_list=('Third', 'First', 'Second'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='deck', vocabulary_list=('unknown', 'C', 'G', 'A', 'B', 'D', 'F', 'E'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Southampton', 'Cherbourg', 'Queenstown', 'unknown'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='alone', vocabulary_list=('n', 'y'), dtype=tf.string, default_value=-1, num_oov_buckets=0), NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='n_siblings_spouses', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]